<header>
    <h1 class="pull-right">
         <small class="hide-medium">ozansener.net</small>
    </h1>

    <nav class="ink-navigation pull-left hide-small">
        <ul class="menu horizontal black rounded shadowed">
            <li data-urlexp="/^\/$/i"><a href="/">About</a></li>
            <li data-urlexp="/^/publications\//i"><a href="/publications/">Publications</a></li>
            <li data-urlexp="/^\/blog\//i"><a href="/blog/">Blog</a></li>
            <li data-urlexp="/^\/contact\//i"><a href="/pages/contacts.html">Contact</a></li>
        </ul>
    </nav>

</header>
