<!-- #FEEDS -->
<div id="feeds" class="box8">
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">3 hours ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture01.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">11 hours ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture02.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">19 hours ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture03.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">1 day ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture04.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">1 day ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture05.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">2 days ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture06.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">2 days ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture07.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">2 days ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture08.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">3 days ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture09.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jessica Stein</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">5 days ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture10.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture11.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture12.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture13.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture14.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture15.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture16.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture17.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture18.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture19.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture20.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture21.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture22.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture23.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture24.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture25.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture26.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture27.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture28.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture29.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture30.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture31.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture32.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture33.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture34.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture35.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture36.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture37.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture38.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture39.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture40.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture41.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture42.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture43.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture44.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture45.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture46.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture47.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture48.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture49.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/picture50.jpg" alt="" />
        </div>
    </div>
</div>
