<div class="container">
    <div class="box10">
        <div class="holder">
            <div id="identity" class="box2">
                <a href="#"><img src="assets/images/favogue-identity.png" alt="" /></a>
            </div>
            <div id="menu-unit" class="box8">
                <ul>
                    <li>
                        <a class="menu-item" href="home.html">Home</a>
                    </li>
                    <li>
                        <a class="menu-item" href="explore.html">Explore</a>
                    </li>
                    <li>
                        <a class="menu-item" href="mag.html">Magazine</a>
                    </li>
                    <li>
                        <a class="menu-item" href="profile.html">Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>