/* Set Defaults */

body {
    color: #5c6664;
    font-family: "Gotham Light";
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1600px;
    height: 900px;
    background: linear-gradient(#ebf7f5, #d6eeea);
}

/* Fonts */

@font-face {
    font-family: 'Gotham Light';
    src: url('assets/fonts/gotham-bold.otf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('assets/fonts/gotham-medium.otf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('assets/fonts/gotham-bold.otf');
    font-weight: bold;
}

/* Layout */

/* Page Type: Cover */

.table {
    display: table;
}

.left {
    width: 600px;
    height: 900px;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    padding: 100px 100px 100px 50px;
    background-image: url(/assets/images/cornell-emblem.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.left h2 {
    color: #c41230;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
}

.left h3 {
    font-size: 44px;
    line-height: 44px;
    margin-top: 20px;
}

.right {
    width: 1000px;
    height: 900px;
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    display: inline-block;
    padding: 80px 50px 100px 100px;
    background-color: white;
}

.right h1 {
    color: #c41230;
    font-size: 105px;
    line-height: 155px;
    font-family: "Gotham Bold";
    letter-spacing: -.065em;
    text-transform: uppercase;
}

/* Page Type: Presentation */

#identity {
    width: 100%;
    height: 150px;
    text-transform: uppercase;
    background-image: url(/assets/images/identity-bg.png);
    background-position: right top;
    background-repeat: repeat-x;
    background-color: #fff;
}

#identity #title {
    float: left;
    width: auto;
    color: #c41230;
    font-size: 70px;
    font-family: "Gotham Bold";
    line-height: 70px;
    letter-spacing: -.065em;
    height: 150px;
    padding-top: 35px;
    padding-left: 100px;
    border-top: 10px solid #c41230;
}

#identity #subtitle {
    float: left;
    height: 150px;
    padding-top: 55px;
    padding-left: 35px;
    margin-left: 30px;
    color: #e18897;
    font-size: 50px;
    line-height: 50px;
    background-image: url(/assets/images/subtitle-bg.png);
    background-position: left center;
    background-repeat: no-repeat;
}

#content {
    width: 100%;
    height: 700px;
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 2px solid #d6eeea;
    background-image: url(/assets/images/content-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

#content .headline {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: "Gotham Medium";
}

#content .paragraph {
    font-size: 40px;
    line-height:  60px;
    text-align: justify;
}

#credits {
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 25px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #fff;
}

#credits #people {
    float: left;
    width: 700px;
    text-align: left;
}

#credits #organization {
    float: right;
    width: 700px;
    text-align: right;
}

/* Clearing */

.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}