<!-- #FEEDS -->
<div id="pictures" class="box8">
    <div class="holder">
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo01.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo02.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo03.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo04.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo05.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo06.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo07.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo08.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo09.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo10.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo11.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo12.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo13.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo14.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo15.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo16.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo17.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo18.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo19.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo20.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo21.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo22.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo23.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo24.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo25.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo26.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo27.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo28.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo29.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo30.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo31.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo32.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo33.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo34.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo35.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo36.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo37.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo38.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo39.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo40.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo41.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo42.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo43.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo44.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo45.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo46.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo47.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo48.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo49.jpg)"></div>
        </div>
        <div class="picture-item">
            <div class="photo" style="background-image: url(assets/content/dummy/photo50.jpg)"></div>
        </div>
    </div>
</div>