<!-- #FEEDS -->
<div id="feeds" class="box8">
    <div class="feed-item">
        <div class="explanation">
            <a href="#">7 Instagram friends</a> joined Favogue.
        </div>
        <div class="datetime">
            <a href="#">Recently</a>
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Emily Schuman</a> followed <a href="#">Chanel</a>.
        </div>
        <div class="datetime">
            <a href="#">3 hours ago</a>
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Kira Aderne</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">3 hours ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/addsingle01.jpg" alt="" />
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Tommy Lei</a> added 3 new pictures.
        </div>
        <div class="datetime">
            <a href="#">3 hours ago</a>
        </div>
        <div class="addpicture x3">
            <div class="picture" style="background-image: url(assets/content/dummy/addmultiple01.jpg);"></div>
            <div class="picture" style="background-image: url(assets/content/dummy/addmultiple02.jpg);"></div>
            <div class="picture" style="background-image: url(assets/content/dummy/addmultiple03.jpg);"></div>
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Martin Margiela</a> added interests.
        </div>
        <div class="datetime">
            <a href="#">6 hours ago</a>
        </div>
        <div class="addinterest">
            <a href="#">Avant-garde</a>
            <a href="#">Haute Couture</a>
            <a href="#">Textile</a>
        </div>
    </div>
    <div class="feed-item">
        <div class="explanation">
            <a href="#">Jean Paul Gaultier</a> added a new picture.
        </div>
        <div class="datetime">
            <a href="#">7 hours ago</a>
        </div>
        <div class="addpicture x1">
            <img class="picture" src="assets/content/dummy/addsingle02.jpg" alt="" />
        </div>
    </div>
</div>
